*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,san-serif;
}
body{
  background-color: #D6CCD0;
}
header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background: #763948;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #D6CCD0;
}
.btn-primary {
    padding: 10px 20px;
    border: 2px solid #763948;
    background: transparent;
    color: #763948;
    cursor: pointer;
}
.btn-outline {
    padding: 10px 20px;
    border: 2px solid #763948;
    background: transparent;
    color: #763948;
    cursor: pointer;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 60px;
}
.hero-text {
    width: 80%;
}
.subtitle {
    color: #555;
    margin-bottom: 10px;
}
.hero-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #222;
}

.hero-text span {
    color: #763948;
}

.description {
    margin-bottom: 20px;
    color: #444;
}
.about {
    background: #763948;
    color: #D6CCD0;
    padding: 80px 60px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: 20px auto;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

.stats h3 {
    font-size: 35px;
    color: #D6CCD0;
}
.services {
    padding: 80px 60px;
    text-align: center;
    background: #D6CCD0;
}

.services-text {
    margin: 20px auto 50px auto;
    max-width: 600px;
    color: #555;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-card {
    width: 220px;
}

.service-card h3 {
    margin-bottom: 10px;
    color: #750018;
}
.portafolio {
  background: #914659;
  color: #eee;
  padding: 100px 10%;
  text-align: center;
}

.portafolio h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #D6CCD0;
}

.portafolio-text {
  max-width: 600px;
  margin: 0 auto 60px auto;
  font-size: 15px;
  color: #D6CCD0;
}
.portafolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card {
  text-align: left;
  transition: transform 0.3s ease;
}

.card img {
  width: 270px;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 400px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #611300;
}

.card p {
  font-size: 13px;
  color: white;
}

.card:hover {
  transform: translateY(-8px);
}
.skills {
  padding: 60px 60px;
}

.skills h2 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.skills-stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #611300;
  font-size: 28px;
  margin: 0;
}
.skill {
  margin-bottom: 25px;
}

.skill p {
  margin-bottom: 8px;
  font-size: 15px;
  color: #111;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.bar span {
  display: block;
  height: 100%;
  background: #611300;
  }

.testimonios {
  padding: 80px 10%;
  text-align: center;
  background-color: #763948;
}

.testimonios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.testimonio-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.contact {
  background: white;
  padding: 80px 10%;
}

.contact-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social-media a {
  padding: 10px 20px;
    border: 2px solid #763948;
    background: #8F6868;
    color: black;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.social-media a:hover {
  background-color: #763948;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 2px solid #763948;
  outline: none;
}

.contact-form button {
  padding: 12px;
  border: none;
  background:#8F6868 ;
  color: white;
  cursor: pointer;
}

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.footer-nav a:hover {
    color: #763948;
}

.footer-logo {
    font-size: 24px;
    margin: 20px 0;
    color: white;
}

.footer-logo span {
    color: #763948;
}

.footer-text {
    margin-bottom: 15px;
    color: #aaa;
    font-size: 14px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.social-icons a:hover {
    color: #763948;
}